name: ${PROJECT_NAME:-health-platform}

services:
  notification-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: notification-api
    environment:
      APP_ENV: ${APP_ENV:-dev}
      APP_DEBUG: ${APP_DEBUG:-1}
      TZ: ${TIMEZONE:-Europe/Paris}
      # Messaging
      MESSENGER_TRANSPORT_DSN: amqp://rabbitmq:5672
      # Mongo primary connection string (each DB handled by app)
      MONGODB_URI: mongodb://${MONGO_INITDB_ROOT_USERNAME:-admin}:${MONGO_INITDB_ROOT_PASSWORD:-adminpass}@mongodb:27017
    ports:
      - "${APP_PORT:-8080}:8080"
    depends_on:
      - mongodb
      - rabbitmq
    networks:
      - app_net
    volumes:
      # Montez votre application Symfony locale ici
      - ./notification-api:/var/www/html:rw

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME:-admin}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-adminpass}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app_net

  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_INITDB_ROOT_USERNAME:-admin}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_INITDB_ROOT_PASSWORD:-adminpass}
      ME_CONFIG_MONGODB_URL: mongodb://${MONGO_INITDB_ROOT_USERNAME:-admin}:${MONGO_INITDB_ROOT_PASSWORD:-adminpass}@mongodb:27017/
    depends_on:
      - mongodb
    ports:
      - "8081:8081"
    networks:
      - app_net

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-guest}
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    networks:
      - app_net

volumes:
  mongo_data:

networks:
  app_net:
    name: ${PROJECT_NAME:-health-platform}_net
