# Résultats des Tests

Date: 2025-12-05 22:06
Couverture globale (Lignes): 91.36%

## Détail
- NotificationApi\Application\Command\SendNotificationCommand: 100%
- NotificationApi\Infrastructure\Notification\NotificationService: 83.72%
- NotificationApi\Presentation\Cli\TestNotificationCommand: 100%
- NotificationApi\Presentation\Http\HealthController: 100%

## Tests
Total: 11, Passés: 11.
